<html>

<head>
  <title>Result</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>


{% if result is not None %}
<div>
	<div class="container">
		
    		<table class="table table-striped">
    			<thead>
                  
                  <tr>
                  	{% for col in columns %}
                    <th>{{col}}</th>
                    {%  endfor %}
                  </tr>


                  {% for key, value in result.items  %}
                  <tr>
                  	{% for val in value %}
                  		<td style ="word-break:break-word;">{{val}}</td>
                  	{%  endfor %}

                  </tr>


                  {% endfor %}



                </thead>

    		</table>


	</div>

</div>
{% else %}
<div>
no result coming throgh
</div>
{% endif %}

{% if graph2 %}
<div>
{{ graph2|safe }}
</div>
{% endif %}





{% if graph %}
<div>
{{ graph|safe }}
</div>

<div>
	<form action="{% url 'doc_classifier_app:get_result_sentiment' %}" method="post">
		{% csrf_token %}
		<button>Get Result File</button>
	</form>

</div>
{% endif %}




{% if wordcloud %}
<h1>Wordcloud for Reviews</h1>
<div>
	{{ wordcloud|safe }}
</div>

{% endif %}


</html>